<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DRC ML</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img style="width:100px;" src="../static/asset/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/models">ML Models</a></li>
                                <li><a href="http://drc-chat.herokuapp.com/">DRC Chats</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero" style="background-color:black;">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="hero__text" style="padding-top: 300px;">
                                <span>Welcome to</span>
                                <h2>DRC World of Machine Learning</h2>
                                <a href="#" class="primary-btn">Get start</a>
                            </div>
                        </div>
                        <div class="col-lg-5" style="padding-top: 200px;">
                            <img style="width:500px;" src="./../static/asset/img/wa1.gif" alt="">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span>Our services</span>
                            <h2>What We do?</h2>
                        </div>
                        <p></p>
                        <a href="#" class="primary-btn">View all services</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/asset/img/icons/c1.gif" alt="">
                                </div>
                                <h4>Single Click</h4>
                                <p>DRC helps you to execute the model instantly with a single click.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="../static/asset/img/icons/c2.gif" alt="">
                                </div>
                                <h4>Instant Output</h4>
                                <p>DRC processes the input and gives you instant output.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Work Section Begin -->
    <section class="work">
        <div class="work__gallery">
            <div class="grid-sizer"></div>
            <div class="work__item wide__item set-bg" data-setbg="../static/asset/img/work/work-1.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="../static/asset/img/work/work-2.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
            </div>
            <div class="work__item small__item set-bg" data-setbg="../static/asset/img/work/work-3.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
            </div>
            <div class="work__item large__item set-bg" data-setbg="../static/asset/img/work/work-4.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="../static/asset/img/work/work-5.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
            </div>
            <div class="work__item small__item set-bg" data-setbg="../static/asset/img/work/work-6.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
            </div>
            <div class="work__item wide__item set-bg" data-setbg="../static/asset/img/work/work-7.jpg">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i
                        class="fa fa-play"></i></a>
                <div class="work__item__hover">
                    <h4>VIP Auto Tires & Service</h4>
                    <ul>
                        <li>eCommerce</li>
                        <li>Magento</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Work Section End -->

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img style="width:100px;" src="../static/asset/img/icons/list.gif" alt="">
                                <h2 class="counter_num" style="color:black;">230</h2>
                                <p style="color:black;">NO OF MODEL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img style="width:100px;" src="../static/asset/img/icons/happy.gif" alt="">
                                <h2 class="counter_num" style="color:black;">1068</h2>
                                <p style="color:black;">HAPPY STUDENTS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img style="width:100px;" src="../static/asset/img/icons/document.gif" alt="">
                                <h2 class="counter_num" style="color:black;">230</h2>
                                <p style="color:black;">DATASET USED</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img style="width:100px;" src="../static/asset/img/icons/responsive.gif" alt="">
                                <h2 class="counter_num" style="color:black;">230</h2>
                                <p style="color:black;">RESPONSIVE DEVICE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad set-bg" data-setbg="../static/asset/img/hariguptha.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Nice to meet</span>
                        <h2>OUR Team</h2>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="../static/asset/img/ss.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="callto__text">
                        <h2 style="margin-left:40px;">Try our another product.</h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a style="margin-left:200px;" href="http://drc-chat.herokuapp.com/">Try Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="index.html"><img style="width: 200px;" src="../static/asset/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="footer__copyright__text">
                            All rights reserved by DRC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../static/asset/js/jquery-3.3.1.min.js"></script>
    <script src="../static/asset/js/bootstrap.min.js"></script>
    <script src="../static/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/asset/js/mixitup.min.js"></script>
    <script src="../static/asset/js/masonry.pkgd.min.js"></script>
    <script src="../static/asset/js/jquery.slicknav.js"></script>
    <script src="../static/asset/js/owl.carousel.min.js"></script>
    <script src="../static/asset/js/main.js"></script>
</body>

</html>