<!DOCTYPE html>
<html lang="zxx">

<head>

    <title>DRC ML</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../static/asset/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="/models">ML Models</a></li>
                                <li><a href="http://drc-chat.herokuapp.com/">DRC Chats</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg " style="background-color: black;">
        <div class="container">
            <div class="row" >
                <img style="padding-top:90px;" src="./../static/asset/img/q1.png" alt="">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <a href="#model" class="primary-btn">Get start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad" id="model">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="portfolio__filter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".branding">Regressions</li>
                        <li data-filter=".digital-marketing">Classification</li>
                        <li data-filter=".web">Clustering</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio__gallery">
                <div class="col-lg-4 col-md-6 col-sm-6 mix branding">
                    <div class="portfolio__item">
                        <a href="/linear-reg"><div class="portfolio__item__video set-bg" data-setbg="../static/asset/img/portfolio/portfolio-1.jpg">
                        </div></a>
                        <div class="portfolio__item__text">
                            <h4>VIP Auto Tires & Service</h4>
                            <ul>
                                <li>eCommerce</li>
                                <li>Magento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination__option">
                        <a href="#" class="arrow__pagination left__arrow"><span class="arrow_left"></span> Prev</a>
                        <a href="#" class="number__pagination">1</a>
                        <a href="#" class="number__pagination">2</a>
                        <a href="#" class="arrow__pagination right__arrow">Next <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Section End -->
<!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="index.html"><img style="width: 200px;" src="../static/asset/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="footer__copyright__text">
                            All rights reserved by DRC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../static/asset/js/jquery-3.3.1.min.js"></script>
    <script src="../static/asset/js/bootstrap.min.js"></script>
    <script src="../static/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/asset/js/mixitup.min.js"></script>
    <script src="../static/asset/js/masonry.pkgd.min.js"></script>
    <script src="../static/asset/js/jquery.slicknav.js"></script>
    <script src="../static/asset/js/owl.carousel.min.js"></script>
    <script src="../static/asset/js/main.js"></script>
</body>

</html>