<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DRC ML</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/asset/css/style.css" type="text/css">
</head>

<body class="model-css">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img style="width:100px;" src="../static/asset/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="/models">ML Models</a></li>
                                <li><a href="http://drc-chat.herokuapp.com/">DRC Chats</a></li>
                                <li><a href="/about">About</a></li>
                                
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i
                                    class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="model-card">
        <div class="conteudo" style="height: 800px;">
            <div class="caixa" style="height: 800px;">
                <form action="{{ url_for('svmpredict')}}" method="post">
                    <h2 style="color:white;padding-top:70px;">Support Vector Machine</h2>
                    <h5 style="color:white;padding-top:10px;">Credit card eligibility check using SVM</h5>
                    <div class="inner-card2">
                        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="age" placeholder="Enter your age">
                            <br>
                            <input type="number" class="form-control" name="exp" placeholder="Enter your Experience">
                            <br>
                            <input type="number" class="form-control" name="inc" placeholder="Enter your Income">
                            <br>
                            <select class="form-control"  name="fm">
                                <option value="#">Number of family members</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <br>
                            <input type="" class="form-control" name="CCAvg" placeholder="Enter your CCAvg">
                            <br>
                            <select class="form-control"  name="pl">
                                <option value="#">Do you have already take any Personal Loan</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                            <br>
                            <select class="form-control"  name="as">
                                <option value="#">Do you have already take any Securities Account</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>

                        </div>
                        <button type="submit" class="primary-btn" style="background-color: black;">submit</button>
                    </div>
                    <h5 style="color:white;padding-top:70px;"> {{ prediction_text }}</h5>
                </form>
            </div>
            <span></span>
            <span></span>
        </div>
    </div>
    </section>
    <br>
    <br>
    <br>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="/"><img style="width: 200px;" src="../static/asset/img/logo.png"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://www.instagram.com/drc._.studio/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCgE56VEv1HGUboWFp-Rta0A"><i
                                    class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="footer__copyright__text">
                            All rights reserved by DRC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../static/asset/js/jquery-3.3.1.min.js"></script>
    <script src="../static/asset/js/bootstrap.min.js"></script>
    <script src="../static/asset/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/asset/js/mixitup.min.js"></script>
    <script src="../static/asset/js/masonry.pkgd.min.js"></script>
    <script src="../static/asset/js/jquery.slicknav.js"></script>
    <script src="../static/asset/js/owl.carousel.min.js"></script>
    <script src="../static/asset/js/main.js"></script>
</body>

</html>